.watch-carousel img {
  width: 100%;
  /* min-height: 40vh; */
  max-height: 40vh;
}

.row {
  margin-left: 20px;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  /* overflow-x: scroll; */
}

.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
}
